:root {
  --clr-accent--400: 0, 40%, 33%;
  --clr-text--900: 0, 39%, 7%;
  --clr-neutral--400: 43, 47%, 97%;

  --clr-bg-grad--start: 0, 40%, 66%;
  --clr-bg-grad--end: 0, 40%, 86%;

  --spacer: 1rem;
  --spacer--large: 3rem;
}

/* ************************* */
/* ************************* */
/* GENERAL STYLES */
/* ************************* */
/* ************************* */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0;
}

body {
  color: hsla(var(--clr-text--900));
  font-family: 'Cabin', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  background: linear-gradient(
    90deg,
    hsl(var(--clr-bg-grad--start)),
    hsl(var(--clr-bg-grad--end))
  );
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 50rem;
  margin: var(--spacer) auto;
  min-height: 100vh;
  box-shadow: 0 0 40px -20px rgba(0, 0, 0, 0.25);
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2,
h3,
.category--description {
  font-weight: 700;
  text-align: center;
}

ul[class] {
  padding: 0;
  list-style-type: none;
}

button {
  border: 0;
  position: absolute;
  left: -9999px;
  clip: rect(0 0 0 0);
  clip-path: inset(0 0 0 0);
  padding: 0;
  height: 1px;
  margin: -1px;
}

/* ************************* */
/* ************************* */
/* UTILITY CLASSES */
/* ************************* */
/* ************************* */

.hide {
  display: none;
}

.flow-content > * + * {
  margin-top: var(--gap, 1 rem);
}

.flow-content > * {
  --gap: var(--spacer);
}

.flow-content--large > * {
  --gap: var(--spacer--large, 3rem);
}

/* ************************* */
/* ************************* */
/* CONTENT */
/* ************************* */
/* ************************* */

.content-group {
  background-color: hsla(var(--clr-neutral--400), 0.6);
  backdrop-filter: blur(2px);
}

.content-group--active {
  overflow: hidden;
}

.content-group h1 {
  transform: scale(1);
}

.content-group--active h1 {
  transform: scale(1.1);
}

@media screen and (prefers-reduced-motion: no-preference) {
  .content-group h1 {
    transition: transform 250ms ease-in;
  }
}

.content-group__title {
  padding: 1rem 0.2rem;
}

.content-group__title > button:focus + span {
  outline: 1px dotted;
}

.content--expanded__labels {
  max-width: fit-content;
  margin: 0 auto;
}

.label-description {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* ************************* */
/* CATEGORY */
/* ************************* */

.category {
  background-color: hsla(var(--clr-neutral--400), 0.35);
}

.category--description {
  font-size: 1.315rem;
}

.category--title-wrapper {
  position: sticky;
  top: 0;
  background-color: hsla(var(--clr-neutral--400), 0.6);
  backdrop-filter: blur(2px);
  padding: 1rem 0.2rem;
}

.category--title + .category--price {
  margin-left: 1em;
}

.category--content {
  padding: 0 0.5rem;
}

/* ******************** */
/* ITEM COMMON STYLES */
/* ******************** */

.item {
  padding: 1rem 0;
  margin: 0 auto;
  max-width: 40rem;
}

.item:not(:last-child) {
  box-shadow: 0 3px 3px -4px hsla(var(--clr-accent--400), 0.4);
}

.item--main-info {
  display: flex;
  gap: 0.5rem;
  font-size: 1.125rem;
}

.item--price,
.item--supplement {
  font-weight: 700;
}

.item--description {
  font-size: 0.85em;
  font-style: italic;
  font-weight: 400;
}

.item--vegetarian,
.item--local {
  display: inline-flex;
  align-items: center;
}

/* ******************** */
/* MENU STYLES  */
/* ******************** */

/* ******************** */
/* A LA CARTE STYLES  */
/* ******************** */

.alacarte .item {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
